h2,
h3 {
  color: DimGray;
}

li {
  list-style: none;
}

.Button.Clear,
.Button.Clear:hover,
.Button.Clear:active {
  min-width: 230px;
  color: FireBrick;
  border-color: FireBrick;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* ********************************************** LIST WIDTH */
.List {
  max-width: 75%;
  margin: 2rem auto !important;
}
@media (max-width: 900px) {
  .List {
    max-width: 87%;
  }
}
@media (max-width: 750px) {
  .List {
    max-width: 100%;
  }
}
@media (min-width: 901px) {
  .List {
    max-width: 783px;
  }
}

hr {
  margin-right: 10vw;
  margin-left: 10vw;
}

/* ********************************************** GRAND TOTAL */
.grandTotal h3 {
  text-align: end;
  margin-right: 10vw;
}
.grandTotal span {
  margin-left: 5vw;
}
@media (max-width: 305px) {
  .grandTotal {
    font-size: 0.81rem;
  }
}
