h2,
h3 {
  color: DimGray;
}

li {
  list-style: none;
}

.Button.Clear,
.Button.Clear:hover,
.Button.Clear:active {
  min-width: 230px;
  color: FireBrick;
  border-color: FireBrick;
}

/* ********************************************** LIST WIDTH */
.List {
  max-width: 75%;
  margin: 2rem auto !important;
}
@media (max-width: 900px) {
  .List {
    max-width: 87%;
  }
}
@media (max-width: 750px) {
  .List {
    max-width: 100%;
  }
}
@media (min-width: 901px) {
  .List {
    max-width: 783px;
  }
}

hr {
  margin-right: 10vw;
  margin-left: 10vw;
}

/* ********************************************** GRAND TOTAL */
.grandTotal h3 {
  text-align: end;
  margin-right: 10vw;
}
.grandTotal span {
  margin-left: 5vw;
}
@media (max-width: 305px) {
  .grandTotal {
    font-size: 0.81rem;
  }
}
