form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

small {
  margin-bottom: 0.5rem;
  color: #f57c00;
}

.TextField.Form {
  margin-bottom: 1rem;
  min-width: 80%;
}

@media (min-width: 500px) {
  .TextField.Form {
    min-width: 300px;
  }
}

.MUIInputLabel {
  margin-bottom: 0.5rem;
}
.MUISelect {
  margin-bottom: 1rem;
}
